
body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./game-img.jpeg");
}

#game {
    text-align: center;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    margin: 5% auto ;
    color: blue;
}

.message {
    font-family: 'Pacifico', cursive;
    /* font-family:'Montserrat', sans-serif; */
    color: yellowgreen;
    text-align: center;
}

.card {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: darkkhaki;
    cursor:pointer;
    margin: 15px;
}

.card:hover {
    border: 4px solid black;
}

.red {
    background-color:red ;
}
.green {
    background-color:rgb(9, 255, 0) ;
}
.yellow {
    background-color:yellow ;
}
.pink {
    background-color:pink ;
}
.blue {
    background-color:blue ;
}
.magenta {
    background-color: magenta;
}
.orange {
    background-color:orange ;
}
.cyan {
    background-color:cyan ;
}

.color-hidden {
    background-color:white ;
}

.btn {
    border: 3px solid #fff;
    border-radius: 50%;
    font-size: 30px;
    width: 130px;
    background-color:cornsilk;
    color:blue;
}

.transparent {
    background-color: transparent;
}
.transparent:hover {
    border: none;
}
